.posts {
    display: flex;
    margin: 30px;
    flex-direction: row;
}

.posts div {
    width: 100vw;
    margin: 20px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}